body {
    max-width: 768px;
    margin:auto;
}
#app {
    /* margin:0px 10px 0px 15px; */
    /* background-color:beige; */
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

h2 {
    font-size: 21px;
    color: #404750;
    font-weight: 700;
    text-align: left;
}

ul {
list-style-type: none;
padding: 0;
}
li {
display: inline-block;
margin: 0 10px;
}
a {
color: #42b983;
}

/* 헤더 관련*/
.header {
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    width:100%;
    height: 50px;
    line-height: 50px;
    z-index: 10;
}

.header ul {
    display:flex;
    background-color: white;
    width: 100%;
    max-width: 768px;
    margin: auto;
}
.header ul li img{
    vertical-align: middle;
}

.header ul li:nth-child(2){
    margin-left:auto;
}

/* 푸터 관련*/
.footer {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    z-index: 10;
}

.footer ul {
    display: flex;
    box-shadow: 0px -1px 6px 0px rgba(0,0,0,0.25);
    width: 100%;
    background-color: white;
    max-width: 768px;
    margin: auto;
}
.footer ul li {
    width: 100%;
    line-height: 55px;
}
.footer ul li img{
    vertical-align: middle;
    position: relative;
    top: -5px;
}
/* 스크롤바 모두 제거 */
::-webkit-scrollbar {
    display:none
  }
::-webkit-scrollbar-track {
display: none;
}
::-webkit-scrollbar-thumb{
display: none;
}