.main-wrap {
    padding-top:40px;
}

.wrap-margin { 
    margin-left:15px;
    margin-right:15px;
}


/* 로그인 관련 */
.login {
    display: flex;
    justify-content: center;
    margin-top:70px;
    /* align-items: center; */
    height: 100vh;
    
}
.login_wrap{
    width:80%;
}
.login p{ 
    text-align:left;
    margin-bottom: 10px;
}
.login .el-input {
    background-color: white;
  }
.login .el-input--suffix .el-input__inner {
    border-radius: 50px;
    border: solid 1px #167af9;
  }